.login-form {
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 2rem;
    border: 1px solid #AAAAAA;
    color: #AAAAAA;
}

.login-form div {
    margin-bottom: 10px;
}

.login-form div p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.login-button {
    margin: 10px;
}